* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, span, button, a, strong, em, i, b {
    font-family: 'Roboto', sans-serif;
}

h6 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

button {
    width: clamp(207px, 5rem, 320px);
    min-width: 207px;
    padding: 8px 16px;
    background-color: var(--blue-500);
    border: 2px solid var(--blue-500);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all linear;
}

button > * {
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: 0.2s all linear;
}

button:hover {
    background-color: white;
    transition: 0.2s all linear;
}

button:hover > * {
    color: var(--blue-500);
    transition: 0.2s all linear;
}

header, main, footer {
    width: 100%;
    display: flex;
}

header {
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-100);
}

main {
    height: 75%;
    padding: 20px;
    flex-direction: column;
    flex-basis: 1;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 5%;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-100);
}

footer > h6 {
    color: var(--grey-1000);
}

footer a {
    color: inherit;
    cursor: pointer;
    transition: 0.2s all linear;
}

footer a:hover {
    color: black;
    transition: 0.2s all linear;
}